@charset "UTF-8";
/* CSS Document */

/*************************************** TYPOGRAPHIC COMBINATIONS ***************************************/

/* !SASS VARIABLES
/* --- !sans-serif
/* --- !serif
/* --- !type sizes
/* !FONTS
/* --- !slabo 27px
/* !GLOBALS
/* --- !headers

/******************************* !SASS VARIABLES *******************************/

/************************/
/***** !sans-serif ******/
/************************/

$sans-serif: "Lato";
$sans-serif-black: 700;
$sans-serif-bold: 700;
$sans-serif-regular: 400;
$sans-serif-light: 300;

/*******************/
/***** !serif ******/
/*******************/

$serif: "Slabo 27px";
$serif-black: 700;
$serif-bold: 700;
$serif-regular: 400;
$serif-light: 300;


/************************/
/***** !type sizes ******/
/************************/

/* body copy */
$copy-point-size: 16px;
$copy-size: 1em;
$copy-tiny-size: 0.45em;
$copy-small-size: 0.75em;
$copy-mid-size: 0.85em;
$copy-large-size: 1.2em;
$copy-jumbo-size: 1.5em;
$copy-max-width: 500px;
$copy-min-width: 300px;

/* body leading */
$copy-leading: 1.4;

/* body kerning */
$copy-bold-kerning: 0.25px;

/* gutters */
$copy-gutter: 50px;
$copy-gutter-half: calc(#{$copy-gutter} / 2);
$copy-gutter-quarter: calc(#{$copy-gutter} / 4);
$copy-gutter-eighth: calc(#{$copy-gutter} / 8);
$copy-gutter-double: calc(#{$copy-gutter} * 2);
$copy-gutter-plus-half: calc(#{$copy-gutter} * 1.5);

/* subhead */
$subhead-size: 1.75em;
$subhead-leading: 1.3;

/* headline */
$headline-size: 2em;
$headline-small-size: $copy-size;
$headline-mid-size: 1.25em;
$headline-large-size: 3em;
$headline-copy-size: 1.5em;
$headline-jumbo-size: 7em;
$headline-max-width: 700px;
$headline-min-width: $copy-min-width;

/* visualization */
$visual-label-size: 2em;

/* leading */
$headline-leading: 1.2;
$headline-copy-leading: 1.3;

/* tables */
$table-header: 0.9em;

/* buttons */
$button-regular: $copy-mid-size;
$button-large: $copy-large-size;
$button-jumbo: $headline-size;

/****************************** FONTS ******************************/

/*******************/
/***** !slabo ******/
/*******************/

/* regular */
/*@font-face {
    
    font-family: $serif;
    font-style: normal;
    font-weight: $serif-regular;
    src: url("../../../../node_modules/typeface-slabo-27px/files/slabo-27px-latin-400.woff2") format("woff2");
    
}

/* light */
/*@font-face {
    
    font-family: $sans-serif;
    font-style: normal;
    font-weight: $sans-serif-light;
    src: url("../../../../node_modules/roboto-fontface/fonts/roboto-condensed/Roboto-Condensed-Light.woff2") format("woff2");
    
}

/* italic */
/*@font-face {
    
    font-family: $sans-serif;
    font-style: italic;
    font-weight: $sans-serif-regular;
    src: url("../../../../node_modules/roboto-fontface/fonts/roboto-condensed/Roboto-Condensed-RegularItalic.woff2") format("woff2");
    
}

/* bold */
/*@font-face {
    
    font-family: $sans-serif;
    font-style: normal;
    font-weight: $sans-serif-bold;
    src: url("../../../../node_modules/roboto-fontface/fonts/roboto-condensed/Roboto-Condensed-Bold.woff2") format("woff2");
    
}*/