@charset "UTF-8";
/* CSS Document */

/*************************************** LIGHT STYLE ***************************************/

/* Light styles. */

/* !IMPORTS
/* !GLOBALS
/* --- !basic
/* --- !headers
/* --- !buttons
/* --- !figures
/* --- !svg
/* --- !tables
/* --- !forms
/* --- !code
/* !CUSTOM
/* --- !active
/* --- !default
/* --- !highlight

/******************************* !IMPORTS *******************************/

@import "palettes";

/******************************* !GLOBALS *******************************/


/*******************/
/***** !basic ******/
/*******************/

html, body {
    
    background: $light-1-100;
    
}

/*******************/
/***** !links ******/
/*******************/

a {
    
    color: $link-basic;
    
}

a:hover,
a:active {
    
    color: $link-hover;
    
}

/*********************/
/***** !headers ******/
/*********************/

html, body, p,
h1, h2, h3, h4, h5, h6 {
	
	color: $dark-4-100;
	
}

/*********************/
/***** !buttons ******/
/*********************/

button {
	
	background-color: transparent;
	border-color: $mid-3-100;
	color: currentColor;
	
}

button:not([disabled]):hover {
    
    background: $light-4-100;
    border-color: $light-4-100;
    color: $light-1-100;
    
}

button:active {
    
    background: $light-3-100;
    
}

/********************/
/***** !tables ******/
/********************/

thead {
    
    border-bottom-color: $light-3-100;
    
}

tr:nth-child(even) {
    
    background-color: $light-2-100;
    
}

/*******************/
/***** !forms ******/
/*******************/

input[type="number"] {
    
    color: currentColor;
    
}

/******************/
/***** !code ******/
/******************/

code {
    
    background: $dark-3-100;
    color: $mid-1-100;
    
}

/******************************* !CUSTOM *******************************/

/********************/
/***** !active ******/
/********************/

/* active */
.active {
    
    color: $dark-4-100;
    
}

/*********************/
/***** !default ******/
/*********************/

/* default */
.default {
    
    border-color: $highlight;
    
}

/* default text */
.default:before {
    
    color: $highlight;
    
}

/***********************/
/***** !highlight ******/
/***********************/

.highlight {
    
    color: $highlight-3;
    
}