/* CSS Document */
/*************************************** desktop STYLE ***************************************/
/* Highest desktop specific styling. */
/* !IMPORTS
/* --- !typography
/* --- !logos
/* !GLOBALS
/* --- !basic
/* --- !links
/* --- !headers
/* --- !copy
/* --- !bold
/* --- !figures
/* --- !svg
/* --- !lists
/* --- !buttons
/* --- !tables
/* --- !forms
/* --- !code
/* !CUSTOM
/* --- !active
/* --- !default
/* --- !highlight

/******************************* !IMPORTS *******************************/
/* CSS Document */
/*************************************** TYPOGRAPHIC COMBINATIONS ***************************************/
/* SASS-based type combinations. */
/* !SASS VARIABLES
/* --- !sans-serif
/* --- !sans-serif-2
/* --- !code
/* --- !type sizes
/* !FONTS
/* --- !open sans
/* --- !oswald
/* !GLOBALS
/* --- !headers

/******************************* !SASS VARIABLES *******************************/
/************************/
/***** !sans-serif ******/
/************************/
/**************************/
/***** !sans-serif-2 ******/
/**************************/
/******************/
/***** !code ******/
/******************/
/************************/
/***** !type sizes ******/
/************************/
/* body copy */
/* code copy */
/* subhead */
/* headline */
/* app title */
/* tables */
/* buttons */
/****************************** FONTS ******************************/
/***********************/
/***** !open sans ******/
/***********************/
/* regular */
@font-face {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/SourceSansPro-Regular.ttf") format("truetype"); }

/* light */
@font-face {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/OpenSans-Light.ttf") format("truetype"); }

/* italic */
@font-face {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
  src: url("../assets/fonts/OpenSans-Italic.ttf") format("truetype"); }

/* bold */
@font-face {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/OpenSans-Bold.ttf") format("truetype"); }

/* black */
@font-face {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/OpenSans-ExtraBold.ttf") format("truetype"); }

/********************/
/***** !oswald ******/
/********************/
/* regular */
@font-face {
  font-family: "Oswald", serif;
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Oswald-Regular.ttf") format("truetype"); }

/* light */
@font-face {
  font-family: "Oswald", serif;
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/Oswald-Light.ttf") format("truetype"); }

/* bold */
@font-face {
  font-family: "Oswald", serif;
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Oswald-Bold.ttf") format("truetype"); }

/* CSS Document */
/*************************************** LOGOS ***************************************/
/* SASS-based logo styles. */
/* !SASS VARIABLES
/* --- !basics
/* !CUSTOM
/* --- !logos
/* --- !beacon
/* --- !bit
/* --- !bolt
/* --- !dive
/* --- !echo
/* --- !eis
/* --- !labs
/* --- !launchpad
/* --- !rain
/* --- !saul
/* --- !storm
/* --- !valeris
/* --- !warp

/******************************* !SASS VARIABLES *******************************/
/********************/
/***** !basics ******/
/********************/
/* vertical logos */
/* horizontal logos */
/* square logos */
/****************************** FONTS ******************************/
/*******************/
/***** !logos ******/
/*******************/
/* tall logo */
.logo.portrait {
  height: auto;
  width: 4em; }

/* wide logo */
.logo.landscape {
  height: 2em;
  width: auto; }

/* square logo */
.logo.square {
  height: 6em;
  width: 4em; }

/***********/
/* !beacon */
/***********/
.beacon.full-color #type {
  fill: #9ea7a9; }

.beacon.full-color #icon {
  fill: #75b2bf; }

/********/
/*! bit */
/********/
.bit.full-color #overlap {
  fill: #8e1e5b; }

.bit.full-color #arrowLeftTop {
  fill: #969696; }

.bit.full-color #arrowLeftBottom {
  fill: #848484; }

.bit.full-color #arrowRightBottom {
  fill: #e57528; }

.bit.full-color #arrowRightTop {
  fill: #f48029; }

.bit.full-color #type {
  fill: #848484; }

/*********/
/* !bolt */
/*********/
.bolt.full-color #type {
  fill: #030e1e; }

.bolt.full-color #icon {
  fill: #7fd1fd; }

/*********/
/* !dive */
/*********/
.dive.full-color #type {
  fill: #bdbfc1; }

.dive.full-color #icon {
  fill: #bdbfc1; }

/*********/
/* !echo */
/*********/
.echo.full-color #type {
  fill: #f99a12; }

.echo.full-color #icon {
  fill: #526b7f; }

/********/
/* !eis */
/********/
.eis.full-color #type {
  fill: #0e3c5e; }

.eis.full-color #outsideCubes {
  fill: #1f5074; }

.eis.full-color #insideCubes {
  fill: #2e6b8e; }

.eis.full-color #lowerTopOutline {
  fill: #34789a; }

.eis.full-color #lowerBottomOutline {
  fill: #2a6689; }

.eis.full-color #upperTopOutline {
  fill: #19486c; }

.eis.full-color #upperMiddleOutline {
  fill: #317697; }

.eis.full-color #upperBottomOutline {
  fill: #4091b1; }

.eis.full-color #centerFill {
  fill: #469ebe; }

.eis.full-color #middleFill {
  fill: #3c8cac; }

.eis.full-color #outerFill {
  fill: #2b6e8f; }

/*********/
/* !labs */
/*********/
.labs.full-color #type {
  fill: #bdbfc1; }

.labs.full-color #icon {
  fill: #bdbfc1; }

/**************/
/* !launchpad */
/**************/
/* dark blue */
.launchpad.full-color #type,
.launchpad.full-color #finRight,
.launchpad.full-color #finLeft,
.launchpad.full-color #bodyRight,
.launchpad.full-color #finBack,
.launchpad.full-color #windowColorBack {
  fill: #0e2430; }

/* bright-orange */
.launchpad.full-color #exhaustBack {
  fill: #ea714b; }

/* mustard */
.launchpad.full-color #exhaustFront,
.launchpad.full-color #windowColorFront {
  fill: #e8ad4d; }

/* eggshell */
.launchpad.full-color #bodyBack,
.launchpad.full-color #cloudsDarkBack,
.launchpad.full-color #cloudsLightBack {
  fill: #f4f4f4; }

/* white */
.launchpad.full-color #bodyLeft,
.launchpad.full-color #finCenterLeft,
.launchpad.full-color #windowOverlayFront,
.launchpad.full-color #cloudsLightFront {
  fill: white; }

/* black */
.launchpad.full-color #finCenterRight,
.launchpad.full-color #windowOverlayBack,
.launchpad.full-color #cloudsDarkFront {
  fill: black; }

.launchpad.full-color #bodyRight,
.launchpad.full-color #bodyLeft,
.launchpad.full-color #finCenterRight,
.launchpad.full-color #finCenterLeft,
.launchpad.full-color #windowOverlayBack,
.launchpad.full-color #windowOverlayFront,
.launchpad.full-color #cloudsDarkFront,
.launchpad.full-color #cloudsLightFront {
  opacity: 0.1; }

/*********/
/* !rain */
/*********/
.rain.full-color #type {
  fill: #646464; }

.rain.full-color #umbrella {
  fill: #c8c8c8; }

.rain.full-color #shield path:nth-child(1) {
  fill: #4ba1b2;
  opacity: 1; }

.rain.full-color #shield path:nth-child(2) {
  fill: #9dc93d;
  opacity: 1; }

.rain.full-color #shield path:nth-child(3) {
  fill: #39d2da;
  opacity: 1; }

.rain.full-color #shield path:nth-child(4) {
  fill: #cd6a44;
  opacity: 1; }

.rain.full-color #shield path:nth-child(5) {
  fill: #1fd1fd;
  opacity: 1; }

.rain.full-color #shield path:nth-child(6) {
  fill: #c0bc12;
  opacity: 1; }

.rain.full-color #shield path:nth-child(7) {
  fill: #8bbe0c;
  opacity: 1; }

.rain.full-color #shield path:nth-child(8) {
  fill: #bc3806;
  opacity: 1; }

.rain.full-color #shield path:nth-child(9) {
  fill: #ebdca6;
  opacity: 1; }

/*********/
/* !saul */
/*********/
.saul.full-color {
  fill: #2a2925; }

/**********/
/* !storm */
/**********/
.storm.full-color #type,
.storm.full-color #dots {
  fill: #303030; }

.storm.full-color #lines {
  fill: #c8c8c8; }

/************/
/* !valeris */
/************/
.valeris.full-color #type,
.valeris.full-color #outline {
  fill: #57706f; }

.valeris.full-color #cube3,
.valeris.full-color #cube7 {
  fill: #60a5a9; }

.valeris.full-color #cube2,
.valeris.full-color #cube6,
.valeris.full-color #cube8 {
  fill: rgba(96, 165, 169, 0.8); }

.valeris.full-color #cube5 {
  fill: rgba(96, 165, 169, 0.75); }

.valeris.full-color #cube4,
.valeris.full-color #cube9 {
  fill: rgba(96, 165, 169, 0.65); }

.valeris.full-color #cube1 {
  fill: rgba(96, 165, 169, 0.4); }

/*********/
/* !warp */
/*********/
.warp.full-color #type,
.warp.full-color #ringDark {
  fill: #006838; }

.warp.full-color #ringGrass {
  fill: #74b64a; }

.warp.full-color #ringMid {
  fill: #8bc53f; }

.warp.full-color #ringLime {
  fill: #bed63a; }

.warp.full-color #ringYG {
  fill: #d6de23; }

.warp.full-color #ringYellow {
  fill: #f9ec31; }

/******************************* !GLOBALS *******************************/
/*******************/
/***** !basic ******/
/*******************/
html, body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }

:hover {
  -o-transition: all 400ms;
  -moz-transition: all 400ms;
  -webkit-transition: -webkit-all 400ms;
  transition: all 400ms; }

main {
  padding: 6em; }

main > section {
  display: flex; }

/*******************/
/***** !links ******/
/*******************/
a {
  cursor: pointer;
  text-decoration: none; }

/*********************/
/***** !headers ******/
/*********************/
hgroup, h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  max-width: 600px;
  min-width: 300px;
  width: 60%; }

h1, h2, h3 {
  font-family: "Oswald", serif; }

h1 {
  font-size: 1.5em;
  line-height: 1; }

h2, h3 {
  font-size: 1em;
  line-height: 1.5; }

/* panel headlines/subheads */
hgroup h1,
section > h1 {
  font-size: 1.5em;
  margin-bottom: 0.25em;
  text-transform: capitalize; }

/* header subtext */
hgroup p {
  font-style: italic;
  margin-bottom: 0.5em; }

/* into headline */
main > hgroup h1 {
  font-size: 2.25em;
  font-weight: 300;
  margin-bottom: 0.5em;
  width: 100%; }

/* intro subhead */
main > hgroup h2 {
  font-size: 1em;
  line-height: 1.5; }

main section hgroup {
  left: -1em;
  position: relative;
  text-align: center; }

main section hgroup + div {
  margin-top: 2em;
  position: relative; }

main section hgroup + div:before {
  background: currentColor;
  content: "";
  left: -2em;
  height: 1px;
  position: absolute;
  top: -1em;
  width: calc(100% + 2em); }

/* intro text */
main > hgroup p {
  font-style: normal; }

main section > div:not(:last-child) {
  margin-right: 8em; }

main section > div > div > div {
  margin-bottom: 0.75em;
  position: relative; }

main section > div > div > div span,
main section > div > div > div form {
  position: absolute; }

main section > div > div > div span:first-of-type {
  border: 1px;
  border-color: currentColor;
  border-style: solid;
  font-size: 0.75em;
  left: -2.5em;
  padding-bottom: 0.1em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-top: 0.15em;
  top: 0.25em;
  text-align: center;
  width: 1.15em; }

main section > div > div > div span:last-of-type,
main section > div > div > div form {
  cursor: pointer;
  pointer-events: all;
  right: 0;
  top: 0.25em; }

main section > div > div > div form {
  right: -1.85em;
  top: 0; }

h3 {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 2em;
  margin-top: 4em;
  position: relative;
  text-transform: none; }

/******************/
/***** !copy ******/
/******************/
p, thead, tfoot, tbody, li, td, small {
  line-height: 1.4; }

small {
  display: block;
  margin-top: 1em; }

/******************/
/***** !bold ******/
/******************/
b, strong {
  font-weight: 700; }

/*********************/
/***** !figures ******/
/*********************/
section {
  position: relative; }

article {
  width: 400px; }

article:not(:last-child) {
  margin-right: 50px; }

article figure {
  max-width: 500px;
  min-width: 350px;
  padding: 1em; }

article strong {
  text-transform: capitalize; }

/* wireframe boxes */
article figure rect {
  stroke-width: 4px; }

/*****************/
/***** !svg ******/
/*****************/
/*******************/
/***** !lists ******/
/*******************/
li {
  list-style-type: disc;
  margin-left: 2em;
  padding-left: 0.5em; }

/*********************/
/***** !buttons ******/
/*********************/
button {
  border: 1px;
  border-style: solid;
  font-size: 0.85em;
  padding: 0.5em;
  pointer-events: all;
  text-transform: capitalize; }

/********************/
/***** !tables ******/
/********************/
table p {
  margin-bottom: 0;
  margin-top: 2em; }

thead {
  border-bottom: 1px;
  border-bottom-style: solid;
  font-size: 0.9em;
  font-weight: 700;
  text-transform: uppercase; }

td, th {
  padding-left: 0.5em;
  padding-right: 0.5em; }

th {
  padding-bottom: 0.75em;
  padding-top: 0.75em; }

td {
  border-bottom: 1px;
  border-bottom-style: solid;
  padding-bottom: 0.5em;
  padding-top: 0.5em; }

tfoot td {
  border-bottom: none;
  font-size: 0.75em; }

/*******************/
/***** !forms ******/
/*******************/
form {
  margin: 0;
  padding: 0; }

input[type="text"] {
  max-width: 600px;
  min-width: 300px;
  padding: 0.5em;
  width: calc(100 - 1em); }

input[type="text"], textarea {
  margin-top: 0.5em; }

textarea {
  max-width: 600px;
  min-width: 300px;
  padding: 0.5em;
  width: calc(100% - 1em); }

input[type="radio"] {
  display: none; }

input[type="radio"] + label {
  padding: 1.25em; }

input[type="radio"]:checked + label {
  text-transform: uppercase; }

input[type="radio"]:checked + label:before {
  text-transform: lowercase; }

input[disabled],
button[disabled] {
  opacity: 0.3; }

label {
  display: none; }

/******************/
/***** !code ******/
/******************/
pre {
  margin-bottom: 1em;
  max-width: 600px; }

code {
  display: inline-block;
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
  padding: 2em;
  width: 84%;
  white-space: normal; }

/******************************* !CUSTOM *******************************/
/********************/
/***** !active ******/
/********************/
.active {
  font-weight: 800; }

/*********************/
/***** !default ******/
/*********************/
/* default */
.default {
  border-bottom: 6px;
  border-bottom-style: solid;
  border-top: 6px;
  border-top-style: solid;
  padding: 0.25em; }

/* default text */
.default:before {
  content: "default";
  font-size: 0.75em;
  font-weight: 700;
  left: 50%;
  position: absolute;
  top: 4em;
  transform: translateX(-50%);
  white-space: nowrap; }

/***********************/
/***** !highlight ******/
/***********************/
.highlight {
  font-weight: 700; }

/* subhead after form */
form ~ h2,
.action ~ h2 {
  font-size: 1.5em;
  font-weight: 300;
  margin-top: 2em;
  max-width: 100%;
  position: relative;
  text-transform: none;
  width: 100%; }

form ~ h2:before,
.action ~ h2:before {
  border-top: 1px;
  border-top-style: solid;
  border-top-color: currentColor;
  content: "";
  left: -6em;
  position: absolute;
  top: -0.5em;
  width: calc(100% + 10em); }

/* text wrap after radio buttons */
form ~ div div,
.action ~ div div {
  width: 100%; }

/* text after radio buttons */
form ~ div p,
.action ~ div p {
  margin-bottom: 0.5em;
  margin-top: 1em; }

/* bolded text after radio buttons */
form ~ div p strong,
.action ~ div p strong {
  color: black;
  font-size: 0.85em;
  font-weight: 700; }

/* action statement following radio buttons */
form + p,
.action {
  font-size: 1.1em;
  line-height: 1.5;
  margin-top: 2em;
  max-width: 600px; }

/* current info in margin */
.current {
  display: block;
  left: -5em;
  padding: 1em;
  padding-top: 0;
  position: absolute;
  top: 5em; }

.current p {
  color: black;
  font-size: 0.75em; }
