/* CSS Document */
/*************************************** LIGHT STYLE ***************************************/
/* Light styles. */
/* !IMPORTS
/* !GLOBALS
/* --- !basic
/* --- !headers
/* --- !buttons
/* --- !figures
/* --- !svg
/* --- !tables
/* --- !forms
/* --- !code
/* !CUSTOM
/* --- !active
/* --- !default
/* --- !highlight

/******************************* !IMPORTS *******************************/
/* CSS Document */
/*************************************** COLOR PALETTES ***************************************/
/* SASS-based color palettes. */
/* !SASS VARIABLES
/* --- !greys
/* --- !color

/******************************* !SASS VARIABLES *******************************/
/*******************/
/***** !greys ******/
/*******************/
/* solid color */
/* tints */
/*******************/
/***** !color ******/
/*******************/
/* links */
/* highlight */
/******************************* !GLOBALS *******************************/
/*******************/
/***** !basic ******/
/*******************/
html, body {
  background: #f0efef; }

/*******************/
/***** !links ******/
/*******************/
a {
  color: #ce6242; }

a:hover,
a:active {
  color: #eb7653; }

/*********************/
/***** !headers ******/
/*********************/
html, body, p,
h1, h2, h3, h4, h5, h6 {
  color: #292929; }

/*********************/
/***** !buttons ******/
/*********************/
button {
  background-color: transparent;
  border-color: #828282;
  color: currentColor; }

button:not([disabled]):hover {
  background: #aaaaaa;
  border-color: #aaaaaa;
  color: #f0efef; }

button:active {
  background: #c8c8c8; }

/********************/
/***** !tables ******/
/********************/
thead {
  border-bottom-color: #c8c8c8; }

tr:nth-child(even) {
  background-color: #f4f4f4; }

/*******************/
/***** !forms ******/
/*******************/
input[type="number"] {
  color: currentColor; }

/******************/
/***** !code ******/
/******************/
code {
  background: #1a1a1a;
  color: #969696; }

/******************************* !CUSTOM *******************************/
/********************/
/***** !active ******/
/********************/
/* active */
.active {
  color: #292929; }

/*********************/
/***** !default ******/
/*********************/
/* default */
.default {
  border-color: #952301; }

/* default text */
.default:before {
  color: #952301; }

/***********************/
/***** !highlight ******/
/***********************/
.highlight {
  color: #1e88a8; }
